.hooper-slide {
  flex-shrink: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hooper-progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  background-color: #efefef;
}
.hooper-progress-inner {
  height: 100%;
  background-color: #4285f4;
  transition: 300ms;
}
.hooper-pagination {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  padding: 5px 10px;
}
.hooper-indicators {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hooper-indicator:hover,
.hooper-indicator.is-active {
  background-color: #4285f4;
}
.hooper-indicator {
  margin: 0 2px;
  width: 12px;
  height: 4px;
  border-radius: 4px;
  border: none;
  padding: 0;
  background-color: #fff;
  cursor: pointer;
}
.hooper-pagination.is-vertical {
  bottom: auto;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hooper-pagination.is-vertical .hooper-indicators {
  flex-direction: column;
}
.hooper-pagination.is-vertical .hooper-indicator {
  width: 6px;
}
.hooper-next,
.hooper-prev {
  background-color: transparent;
  border: none;
  padding: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.hooper-next.is-disabled,
.hooper-prev.is-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.hooper-next {
  right: 0;
}
.hooper-prev {
  left: 0;
}
.hooper-navigation.is-vertical .hooper-next {
  top: auto;
  bottom: 0;
  transform: initial;
}
.hooper-navigation.is-vertical .hooper-prev {
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  transform: initial;
}
.hooper-navigation.is-rtl .hooper-prev {
  left: auto;
  right: 0;
}
.hooper-navigation.is-rtl .hooper-next {
  right: auto;
  left: 0;
}
.hooper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
}
.hooper * {
  box-sizing: border-box;
}
.hooper-list {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.hooper-track {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.hooper.is-vertical .hooper-track {
  flex-direction: column;
  height: 200px;
}

.hooper.is-rtl {
  direction: rtl;
}

.hooper-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}div.overlay[data-v-4b2c56ad]{-webkit-transition:opacity .3s ease;background:rgba(11,10,12,.35);height:100%;left:0;opacity:0;position:fixed;top:0;transition:opacity .3s ease;width:100%;z-index:-999}aside.sidebar[data-v-4b2c56ad]{-webkit-transition:-webkit-transform .3s ease;background:#fff;height:100%;overflow-x:hidden;overflow-y:auto;position:fixed;top:0;transition:transform .3s ease;width:300px;will-change:transform;word-wrap:break-word;z-index:9999}#app{margin-top:60px;text-align:center}.faq-wrapper .logo {
    margin: 10px auto;
    text-align: center;
}
address {
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: #eeeeee;
}
address li {
    line-height: 25px;
}
.contactus_form textarea {
    border: 1px solid #1a507e;
}

.margin_btm {
    margin-bottom: 5px !important;
}.site-enter,
.site-leave-to {
  opacity: 0;
}

@media (max-width: 786px) {
  .desktop-category-sidebar {
    display: none;
  }
}

@media (min-width: 786px) {
  .mobile-category-sidebar {
    display: none;
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.product-variation-active {
  border: 1px solid #1a507e !important;
}

/*Image Zoom CSS*/

@keyframes drift-fadeZoomIn {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes drift-fadeZoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  15% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes drift-loader-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  50% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes drift-loader-before {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.2) translateX(6px);
  }

  25% {
    transform: scale(1.3) translateX(8px);
  }

  40% {
    transform: scale(1.2) translateX(6px);
  }

  50% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.8) translateX(6px);
  }

  75% {
    transform: scale(0.7) translateX(8px);
  }

  90% {
    transform: scale(0.8) translateX(6px);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes drift-loader-after {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.2) translateX(-6px);
  }

  25% {
    transform: scale(1.3) translateX(-8px);
  }

  40% {
    transform: scale(1.2) translateX(-6px);
  }

  50% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.8) translateX(-6px);
  }

  75% {
    transform: scale(0.7) translateX(-8px);
  }

  90% {
    transform: scale(0.8) translateX(-6px);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes drift-fadeZoomIn {
  0% {
    -webkit-transform: scale(1.5);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes drift-fadeZoomOut {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  15% {
    -webkit-transform: scale(1.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
}

@-webkit-keyframes drift-loader-rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@-webkit-keyframes drift-loader-before {
  0% {
    -webkit-transform: scale(1);
  }

  10% {
    -webkit-transform: scale(1.2) translateX(6px);
  }

  25% {
    -webkit-transform: scale(1.3) translateX(8px);
  }

  40% {
    -webkit-transform: scale(1.2) translateX(6px);
  }

  50% {
    -webkit-transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.8) translateX(6px);
  }

  75% {
    -webkit-transform: scale(0.7) translateX(8px);
  }

  90% {
    -webkit-transform: scale(0.8) translateX(6px);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes drift-loader-after {
  0% {
    -webkit-transform: scale(1);
  }

  10% {
    -webkit-transform: scale(1.2) translateX(-6px);
  }

  25% {
    -webkit-transform: scale(1.3) translateX(-8px);
  }

  40% {
    -webkit-transform: scale(1.2) translateX(-6px);
  }

  50% {
    -webkit-transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.8) translateX(-6px);
  }

  75% {
    -webkit-transform: scale(0.7) translateX(-8px);
  }

  90% {
    -webkit-transform: scale(0.8) translateX(-6px);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

.drift-zoom-pane {
  background: rgba(0, 0, 0, 0.5);
  /* This is required because of a bug that causes border-radius to not
  work with child elements in certain cases. */
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  max-height: 600px;
  max-width: 600px;
  margin-left: 700px;
}

.drift-zoom-pane.drift-opening {
  animation: drift-fadeZoomIn 180ms ease-out;
  -webkit-animation: drift-fadeZoomIn 180ms ease-out;
}

.drift-zoom-pane.drift-closing {
  animation: drift-fadeZoomOut 210ms ease-in;
  -webkit-animation: drift-fadeZoomOut 210ms ease-in;
}

.drift-zoom-pane.drift-inline {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

.drift-loading .drift-zoom-pane-loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 66px;
  height: 20px;
  animation: drift-loader-rotate 1800ms infinite linear;
  -webkit-animation: drift-loader-rotate 1800ms infinite linear;
}

.drift-zoom-pane-loader:before,
.drift-zoom-pane-loader:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
}

.drift-zoom-pane-loader:before {
  left: 0;
  animation: drift-loader-before 1800ms infinite linear;
  -webkit-animation: drift-loader-before 1800ms infinite linear;
}

.drift-zoom-pane-loader:after {
  right: 0;
  animation: drift-loader-after 1800ms infinite linear;
  -webkit-animation: drift-loader-after 1800ms infinite linear;
  animation-delay: -900ms;
  -webkit-animation-delay: -900ms;
}

.drift-bounding-box {
  background-color: rgba(0, 0, 0, 0.4);
}

