@font-face {
    font-family: 'BestBuy';
    src: url('../fonts/BestBuy.eot?8enzbm');
    src: url('../fonts/BestBuy.eot?8enzbm#iefix') format('embedded-opentype'),
    url('../fonts/BestBuy.ttf?8enzbm') format('truetype'),
    url('../fonts/BestBuy.woff?8enzbm') format('woff'),
    url('../fonts/BestBuy.svg?8enzbm#BestBuy') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="i_"], [class*=" i_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'BestBuy' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i_s_facebook:before {
    content: "\e900";
}

.i_address:before {
    content: "\e901";
}

.i_card_amex:before {
    content: "\e902";
}

.i_arrow_selection:before {
    content: "\e903";
}

.i_cat_baby:before {
    content: "\e904";
}

.i_bb_choice:before {
    content: "\e905";
}

.i_card_bkash:before {
    content: "\e906";
}

.i_cat_book:before {
    content: "\e907";
}

.i_cat_building:before {
    content: "\e908";
}

.i_cart:before {
    content: "\e909";
}

.i_categories:before {
    content: "\e90a";
}

.i_categories_section:before {
    content: "\e90b";
}

.i_category:before {
    content: "\e90c";
}

.i_check:before {
    content: "\e90d";
}

.i_coins:before {
    content: "\e90e";
}

.i_comments:before {
    content: "\e90f";
}

.i_compare_minus:before {
    content: "\e910";
}

.i_compare_plus:before {
    content: "\e911";
}

.i_compare:before {
    content: "\e912";
}

.i_create_an_account:before {
    content: "\e913";
}

.i_card_dbbl:before {
    content: "\e914";
}

.i_delivery_area:before {
    content: "\e915";
}

.i_delivery_charge:before {
    content: "\e916";
}

.i_delivery_time:before {
    content: "\e917";
}

.i_delivery_car:before {
    content: "\e918";
}

.i_arrow_down:before {
    content: "\e919";
}

.i_cat_electonics:before {
    content: "\e91a";
}

.i_ellipse_line:before {
    content: "\e91b";
}

.i_ellipse_fill:before {
    content: "\e91c";
}

.i_ellipse_fill_line:before {
    content: "\e91d";
}

.i_email:before {
    content: "\e91e";
}

.i_flash_sale:before {
    content: "\e91f";
}

.i_cat_furniture:before {
    content: "\e920";
}

.i_cat_health:before {
    content: "\e921";
}

.i_cat_household:before {
    content: "\e922";
}

.i_information:before {
    content: "\e923";
}

.i_card_ific:before {
    content: "\e924";
}

.i_image:before {
    content: "\e925";
}

.i_card_mcash:before {
    content: "\e926";
}

.i_card_islami:before {
    content: "\e927";
}

.i_cat_kitchen_accessories:before {
    content: "\e928";
}

.i_arrow_left:before {
    content: "\e929";
}

.i_cat_lifestyle:before {
    content: "\e92a";
}

.i_card_master:before {
    content: "\e92b";
}

.i_new_arrival:before {
    content: "\e92c";
}

.i_payment_gateway:before {
    content: "\e92d";
}

.i_phone:before {
    content: "\e92e";
}

.i_recently_viewed:before {
    content: "\e92f";
}

.i_cat_sports:before {
    content: "\e930";
}

.i_arrow_right:before {
    content: "\e931";
}

.i_card_rocket:before {
    content: "\e932";
}

.i_search:before {
    content: "\e933";
}

.i_shop_by:before {
    content: "\e934";
}

.i_star:before {
    content: "\e935";
}

.i_star_fill:before {
    content: "\e936";
}

.i_star_half:before {
    content: "\e937";
}

.i_cat_stationary:before {
    content: "\e938";
}

.i_taka:before {
    content: "\e939";
}

.i_time_circle_fill:before {
    content: "\e93a";
}

.i_time_circle_line:before {
    content: "\e93b";
}

.i_categories_topmonth:before {
    content: "\e93c";
}

.i_track_order:before {
    content: "\e93d";
}

.i_arrow_up:before {
    content: "\e93e";
}

.i_user:before {
    content: "\e93f";
}

.i_card_visa:before {
    content: "\e940";
}

.i_coupon:before {
    content: "\e941";
}

.i_wishlist:before {
    content: "\e942";
}

.i_wishlist_minus:before {
    content: "\e943";
}

.i_wishlist_plus:before {
    content: "\e944";
}

.i_s_youtube:before {
    content: "\e945";
}

.i_home:before {
    content: "\e946";
}

.i_s_twitter:before {
    content: "\e947";
}

.i_cat_mobile:before {
    content: "\e948";
}

.i_thumbs_down:before {
    content: "\e949";
}

.i_thumbs_up:before {
    content: "\e94a";
}

.i_logout:before {
    content: "\e94b";
}

.i_cart_plus:before {
    content: "\e94c";
}

.i_login_registration:before {
    content: "\e94d";
}