* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar::-webkit-scrollbar {
  width: 0.5em;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #f28b01;
  outline: 1px solid slategrey;
}

button {
  border: none;
  background: none;
  outline: none;
}

.mobile-menu > .about > button {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 3px 7px 0px 7px;
  margin: 5px 0px;
  float: left;
  width: 30px;
}

.faq {
  width: 100%;
  padding: 0 10px;
}

.faq-wrapper {
  max-width: 825px;
  margin: 0 auto;
}

.faq__title {
  text-align: center;
  margin-bottom: 25px;
}

.faq__nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid #f28b01;
  border-radius: 0px;
  background: #0c2952;
}

.faq__nav-item {
  height: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f28b01;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FFFFFF;
}

.faq__nav-item_active {
  color: #f28b01;
}

.faq__nav-item:hover {
  color: #f28b01;
}

.faq__nav-item:last-child {
  border-right: none;
}

.faq__accordion {
  min-height: 250px;
}

.accordion-fade-slide-enter-active,
.accordion-fade-slide-leave-active {
  transition: all 0.3s;
}

.accordion-fade-slide-enter {
  transform: translateY(-25px);
  opacity: 0;
}

.accordion-fade-slide-leave-to {
  transform: translateY(25px);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .desktop-menu,
  .desktop {
    display: none;
  }

  .mobile-menu,
  .mobile {
    display: block;
  }

  .accordion {
    border: 1px solid #f28b01;
    border-radius: 0px;
    margin-top: 15px;
  }

  .accordion__item {
    border-bottom: 1px solid #f28b01;
  }

  .accordion__item:last-child {
    border-bottom: none;
  }

  .accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    cursor: pointer;
    transition: all 0.3s;
    color: #FFFFFF;
  }

  .accordion__title_active {
    color: #f28b01;
    background: #0c2952;
  }

  .accordion__title_active p.accordion__title-text {
    color: #f28b01;
  }

  .accordion__title:hover {
    color: #f28b01;
  }

  .accordion__title:hover .accordion__toggle-button::before,
  .accordion__title:hover .accordion__toggle-button::after {
    background: #f28b01;
  }

  .accordion__title-text {
    margin-right: 10px;
  }

  .accordion__title-text i.bb.bb_account_create {
    vertical-align: middle;
    padding: 0px 5px 0px 0px;
  }

  .accordion__value {
    padding: 5px 10px 10px 10px;
    text-align: left;
    color: #0c2952;
    background: #FFFFFF;
    max-height: 200px;
    overflow-y: scroll;
  }

  .accordion__value__childs > li > a {
    color: #0c2952 !important;
    font-weight: bold;
  }

  .accordion__value__childs > li a {
    color: #0c2952 !important;
  }

  .accordion__value::-webkit-scrollbar {
    width: 0.5em;
  }

  .accordion__value::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .accordion__value::-webkit-scrollbar-thumb {
    background-color: #f28b01;
    outline: 1px solid slategrey;
  }

  .accordion__toggle-button {
    position: relative;
    width: 8px;
    height: 8px;
    transition: all 0.3s;
    transform-origin: 50% 50%;
    padding-left: 8px;
    cursor: pointer;
  }

  .accordion__toggle-button::before,
  .accordion__toggle-button::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.3s;
    background: black;
  }

  .accordion__toggle-button::before {
    transform: rotate(90deg);
  }

  .accordion__toggle-button_active {
    transform: rotate(45deg);
  }

  .accordion__toggle-button_active::before,
  .accordion__toggle-button_active::after {
    background: #f28b01;
  }
}

.categories-sidebar-list-text .accordion,
.categories-sidebar-list .accordion {
  border: 0px solid #FFF !important;
}

@media screen and (min-width: 769px) {
  .desktop-menu,
  .desktop {
    display: block;
  }

  .mobile-menu,
  .mobile {
    display: none;
  }
}

